<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
<form action="/rigester/"method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Your Name:"><br><br>
    <input type="email" name="email" placeholder="Enter Your email:"><br><br>
    <input type="password" name="password1" placeholder="Password"><br><br>
    <input type="password" name="password2" placeholder="confirm Password">
    <button>rigester</button>
</form>
<a href="/login">Login</a>
</body>
</html>